 http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Style */

body {
	background-color: #eaeaea;
	font-family: arial;
	color: #333;
	font-size: 14px;
	line-height: 16px;
}

.top-bar {
	height: 45px;
	background-color: #cf298d;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 9999;
}
.top-bar ul {
	text-align: center;
}
.top-bar ul li {
	display: inline-block;
	margin: 0 40px;
}
.top-bar a {
	text-decoration: none;
	color: #eaeaea;
	font-size: 18px;
}
.top-bar a:hover {
	color: white;
	text-decoration: underline;
}

.container {
	background-color: pink;
	width: 1000px;
	margin: 50px auto;
	position: relative;
}

.header {
	padding-top: 50px;
}

.header .nama_toko {
	text-align: center;
	font-size: 75px;
	font-weight: bold;
	margin: 25px 0 100px 0;
	color: white;
	text-shadow: -7px 7px 1px #fa91d0,
	-14px 14px 1px #fc35ad,
	-21px 21px 1px #cf298d;
}

.header .navigasi {
	background-color: #cf298d;
	height: 40px;
	padding: 10px;
	box-sizing: border-box;
}

.header .navigasi a {
	text-decoration: none;
	color: #eaeaea;
	font-size: 20px;
	padding: 20px;
}

.header .navigasi a:hover {
	color: white;
	text-decoration: underline;
}

.hero {
	height: 400px;
	background-image: url(img/rsz_hero_image.jpg);
	background-size: cover;
	background-position: 0 -210px;
	border: 5px solid #cf298d;
	border-top: none;
}

.content {
	background-color: pink;
	position: relative;
}
.content .side-bar {
	background-color: #fa91d0;
	width: 250px;
	height: 600px;
	padding-top: 30px;
	padding-left: 20px;
	float: left;
	position: absolute;
	left: 0;
	top: 0;
	box-sizing: border-box;
}
.content .side-bar a {
	color: #eaeaea;
	font-size: 23px;
	line-height: 60px;
	text-decoration: none;
} 
.content .side-bar a:hover {
	text-decoration: underline;
	color: white;
}

.content .main {
	width: 750px;
	float: right;
	padding: 20px;
	box-sizing: border-box;
}
.content .main img {
	height: 200px;
	float: left;
}
.content .main img:hover {
	box-shadow: 0 0 20px 5px black;
}

.item_1,.item_2,.item_3,.item_4,.item_5 {
	float: left;
	width: 133px;
	height: 240px;
	margin: 20px 50px;
	text-align: center;
	line-height: 40px;
}
.main button {
	background-color: #cf298d;
	padding: 5px;
	color: #eaeaea; 
}
.main button:hover {
	text-decoration: underline;
	color: white;
	font-weight: bold;
}

.address {
	height: 120px;
	background-color: #cf298d;
	background-size: cover;
	color: #eaeaea;
	text-align: center;
	padding: 20px 220px;
	box-sizing: content-box;
	border-top: 1px solid white;
}

.footer {
	border-top: 1px solid white;
	background-color: #333;
	padding: 1px;

}
.footer .copyright {
	color: darkgrey;
	text-align: center;
	font-size: 12px;
}


/*CLEAR FIX*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
